body{
	background-image: url("images/im6.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: alpha(opacity=30);
  /* IE */
  -moz-opacity: 0.3;
  /* Mozilla */
  opacity: 0.3;

}